<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Welcome</h1>
        <form action="/movies/search" method="GET" class="mt-3">
            <div class="form-group">
                <input type="text" name="title" class="form-control" placeholder="Search movies" required>
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
        <h2 class="mt-5">Your Movie Lists</h2>
        <div class="list-group mt-3">
            <% lists.forEach(list => { %>
                <a href="/lists/<%= list._id %>" class="list-group-item list-group-item-action">
                    <h3 class="mb-1"><%= list.name %></h3>
                    <p class="mb-1"><%= list.isPublic ? 'Public' : 'Private' %></p>
                </a>
                <form action="/lists/delete" method="POST" class="mb-0">
                    <input type="hidden" name="listId" value="<%= list._id %>">
                    <button type="submit" class="btn btn-danger">Remove</button>
                </form>
            <% }) %>
        </div>
        <form action="/lists/create" method="POST" class="mt-5">
            <div class="form-group">
                <label for="name">List name</label>
                <input type="text" name="name" class="form-control" id="name" placeholder="List name" required>
            </div>
            <div class="form-check mb-3">
                <input type="checkbox" name="isPublic" class="form-check-input" id="isPublic">
                <label class="form-check-label" for="isPublic">Public</label>
            </div>
            <button type="submit" class="btn btn-primary">Create List</button>
        </form>
        <a href="/auth/logout" class="btn btn-danger mt-3">Logout</a>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
